body {
    background: linear-gradient();
}
/*the waist of the snowman*/
.waist {
    position:relative;
        top: 540px; 
        left: 250px;
        width: 350px;         
        height: 350px;       
        background-color: #c1d4f6;
        border-radius: 50%;   
    }
/*END OF the waist of snowman*/

/*arm*/
.arm {
    position: relative;
    top: 245px;
    left: -450px;
    height: 10px;
    width: 250px;
    background-color: #b47732;
    transform: rotate(21deg)
}
/*END OF arm*/

/*da body*/
.body {
     position:relative;
        top: -190px; 
        left: 25px;
        width: 300px;         
        height: 300px;       
        background-color: #adc0e0;
        border-radius: 50%;   
}

/*END OF da body*/



/*scerf*/
.scarf {
     position:relative;
        top: 10px; 
        left: 0px;
        width: 300px;         
        height: 120px;       
        background-color: #fa3cb3;
        border-radius: 50%;   
}
/*END OF scerf*/

/*de head*/
.head {
    position:relative;
        top: -180px; 
        left: 25px;
        width: 250px;         
        height: 250px;       
        background-color: #637492;
        border-radius: 50%;   
}
/*END OF de head*/

/*lens 1*/
.l_lens {
position:relative;
        top: 25px; 
        left: 15px;
    width: 90px; /* Set equal width and height */
  height: 90px;
  border: 4px solid #4ecc8f; /* Define the outline style, width, and color */
  border-radius: 50%; /* Make the square element a circle */
  background-color: transparent;


}
/*END OF lens 1*/

/*an eye*/
.l_eye {
    position:relative;
        top: 100px; 
        left: 55px;
        width: 30px;         
        height: 50px;       
        background-color: white;
        border-radius: 50%;   


}
/*END OF an eye*/

/*lens 2*/
.r_lens {
    position:relative;
        top: -125px; 
        left: 125px;
    width: 90px; /* Set equal width and height */
  height: 90px;
  border: 4px solid #4ecc8f; /* Define the outline style, width, and color */
  border-radius: 50%; /* Make the square element a circle */
  background-color: transparent;
}

/*another eye*/
.r_eye {
    position:relative;
        top: -48px; 
        left: 150px;
        width: 30px;         
        height: 50px;       
        background-color: white;
        border-radius: 50%;   

}
/*END OF another eye*/

/*glass bridge*/
.bridge {
    position: relative;
    top: -73%;
    left: 108px;
    height: 5px;
    width: 18px;
    background-color: #4ecc8f;
}
/*END OF glass bridge*/

/*Hat*/
.brim {
    position: relative;
   width: 240px;
  height: 0px;
  border-left: 50px solid transparent;  
  border-right: 50px solid transparent; 
  border-bottom: 29px solid #4ecc8f;
   left: -155px;
   top: -85px;
}
/*END OF Hat*/

/*Het*/
.hat {
    width: 16px;
  height: 0px;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 155px solid #4ecc8f;
  position: relative;
   left: 35px;
   top: -133px; 
}
/*END OF Het*/

/*l Horn*/
.horn1 {
    width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid #4ecc8f;
  position: relative;
  left: 15px;
   top: -203px;
}
/*END OF 1 Horn*/

/*Horn*/
.hornet {
    width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid #4ecc8f;
  position: relative;
  left: 170px;
   top: -250px;
}
/*END OF Horn*/

/*erm*/
.erm {
    position: relative;
    top: -130px;
    left: 470px;
    height: 10px;
    width: 250px;
    background-color: #b47732;
    transform: rotate(130deg)
}
/*END OF erm*/

/*no se*/
.nose {
    width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 50px solid #5b6985;
  position: relative;
  left: 320px;
   top: -159px;
   transform: rotate(-199deg)
}


