body {
    background: linear-gradient();
}
/*the waist of the snowman*/
.waist {
    position:relative;
        top: 540px; 
        left: 250px;
        width: 350px;         
        height: 350px;       
        background-color: #c1d4f6;
        border-radius: 50%;   
    }
/*END OF the waist of snowman*/

/*da body*/
.body {
     position:relative;
        top: -190px; 
        left: 25px;
        width: 300px;         
        height: 300px;       
        background-color: #c1d4f6;
        border-radius: 50%;   
}
/*END OF da body*/

/*scerf*/
.scarf {
     position:relative;
        top: 10px; 
        left: 0px;
        width: 300px;         
        height: 120px;       
        background-color: #fa3cb3;
        border-radius: 50%;   
}
/*END OF scerf*/

/*de head*/
.head {
    position:relative;
        top: -180px; 
        left: 25px;
        width: 250px;         
        height: 250px;       
        background-color: #aec0df;
        border-radius: 50%;   
}
/*END OF de head*/

/*lens 1*/
.l_lens {
position:relative;
        top: 25px; 
        left: 15px;
    width: 90px; /* Set equal width and height */
  height: 90px;
  border: 4px solid #4ecc8f; /* Define the outline style, width, and color */
  border-radius: 50%; /* Make the square element a circle */
  background-color: transparent;


}
/*END OF lens 1*/

/*an eye*/
.l_eye {
    position:relative;
        top: 100px; 
        left: 55px;
        width: 30px;         
        height: 50px;       
        background-color: black;
        border-radius: 50%;   


}
/*END OF an eye*/

/*lens 2*/
.r_lens {
    position:relative;
        top: -125px; 
        left: 125px;
    width: 90px; /* Set equal width and height */
  height: 90px;
  border: 4px solid #4ecc8f; /* Define the outline style, width, and color */
  border-radius: 50%; /* Make the square element a circle */
  background-color: transparent;
}

/*another eye*/
.r_eye {
    position:relative;
        top: -48px; 
        left: 150px;
        width: 30px;         
        height: 50px;       
        background-color: black;
        border-radius: 50%;   

}
/*END OF another eye*/

/*glass bridge*/
.bridge {
    position: relative;
    top: -73%;
    left: 107px;
    height: 5px;
    width: 19px;
    background-color: #4ecc8f;
}
